rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAllowed() {
      return request.auth != null &&
        request.auth.token.email in [
          'tannerwesgardner@gmail.com',
          'rochelleygardner@gmail.com'
        ];
    }

    match /ledger/{docId} {
      allow read, write: if isAllowed();
    }
  }
}
